[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pynndescent = "==0.5.13"
sentence-transformers = "==3.0.1"
faker = "==26.1.0"
pandas = "==2.2.2"
numpy = "==2.0.1"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
